{% raw %}{% extends "djcorecap/base.html" %}
{% load djcorecap static i18n {% endraw %}{% if cookiecutter.use_compressor == "y" %}compress{% endif %}{% raw %}%}

{% block description %}
{% endraw %}{{ cookiecutter.description }}{% raw %}
{% endblock description %}

{% block author %}
{% endraw %}{{ cookiecutter.author_name }} {{ cookiecutter.email }}{% raw %}
{% endblock author %}

{% block title %}
{% endraw %}{{ cookiecutter.project_name }}{% raw %}
{% endblock title %}

{% block external_css %}
{{ block.super }}
{% endraw %}{% if cookiecutter.custom_bootstrap_compilation == "n" %}{% raw %}
<!-- Latest compiled and minified Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">{% endraw %}
{% endif %}
{% if cookiecutter.use_compressor == "y" %}{% raw %}{% compress css %}{% endraw %}{% endif %}{% raw %}
{% endblock external_css %}

{% block project_css %}
{% endraw %}{% if cookiecutter.js_task_runner == "Gulp" and cookiecutter.use_compressor == "n" %}{% raw %}
<link href="{% static 'css/project.min.css' %}" rel="stylesheet">
{% endraw %}{% else %}{% raw %}
<link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endraw %}{% endif %}
{% if cookiecutter.use_compressor == "y" %}{% raw %}{% endcompress %}{% endraw %}{% endif %}{% raw %}
{% endblock project_css %}

{% block brand %}
{% endraw %}{{ cookiecutter.project_name }}{% raw %}
{% endblock brand %}

{% block content %}
<div class="container bg-white">
  <div class="row justify-content-center">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row justify-content-center main">
    <div class="col-6">
      <!-- headline -->
      {% block header %}
      <header id="headline">
        <br>
        <h1 class="text-uppercase text-center font-weight-bold">
          {% block headline %}{% endblock headline %}
        </h1>
        <hr>
        <p class="headline-content">
          {% block headline_content %}{% endblock headline_content %}
        </p>
      </header>
      {% endblock header %}
      <!-- content -->
      {% block section %}
      <section id="content">
        {% block subnav %}{% endblock subnav %}
        {% block section_content %}Content...{% endblock section_content %}
      </section>
      {% endblock section %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <!-- footer -->
      {% block footer %}
      <footer id="footer" class="footer">
        <hr>
        <p class="text-center text-muted small">
          version {{ app_version }}
        </p>
      </footer>
      {% endblock footer %}
    </div>
  </div>
</div>
{% endblock content %}

{% block external_javascript %}
{% endraw %}{% if cookiecutter.custom_bootstrap_compilation == "y" and cookiecutter.js_task_runner == "Gulp" %}{% raw %}
<!-- Vendor dependencies bundled as one file-->
{% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% compress js %}{% endraw %}{% endif %}{% raw %}
<script src="{% static 'js/vendors.js' %}"></script>
{% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% endcompress %}{% endraw %}{% endif %}
{% else %}{% raw %}
{{ block.super }}
{% endraw %}{% endif %}{% raw %}
{% endblock external_javascript %}

{% block project_javascript %}
{% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% compress js %}{% endraw %}{% endif %}{% raw %}
{{ block.super }}
{% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% endcompress %}{% endraw %}{% endif %}{% raw %}
{% endblock project_javascript %}{% endraw %}
